* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

html {
    height: 100%;
}
body {
    display: flex;
    min-height: 200vh;
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
.container {
    position: relative;
    display: flex;
    margin: 0 0 0 2rem;
    width: 100%;
}
.title {
    width: 100%;
    height: 2rem;
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem;
    border-bottom: #9b9999 solid 0.02rem;
}
.book-container {
    position: absolute;
    top: 15rem;
    left: 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fill);
}
.user-input-container {
    position: absolute;
    top:2rem;
}

.user-input-container form .form-column{
    display: flex;
    margin: 2rem 0 0 0;
    height: 100%;
    width: 100rem;
}

.library-stats-container {
    position: absolute;
    left: 15rem;
    display: inline-flex;
    color: #fff;
    margin: 3rem 1rem 0 2rem;
    width: 150%;
    font-size: .75rem;
}

form .form-column .input-data{
    width: 100%;
    height: 4rem;
    margin: 1rem 0 0 0;
    position: relative;
  }
form .form-column{
    width: 100%;
    height: 20rem;
    margin: 2rem 0;
    position: relative;
}

.input-data input{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1rem;
    border-bottom: 0.2rem solid rgba(250, 250, 250, 0.395);
    margin: 2rem 0;
    background-color: transparent;
    color: #fff;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform: translateY(-2rem);
    font-size: 0.7rem;
    color: #3498db;
    border: none;
}
.input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 0.8rem;
    font-size: 1rem;
    margin: 0;
    transition: all 0.3s ease;
    border: none;
    color:#fff;
}
  
.input-data .underline{
    position: absolute;
    bottom: 0;
    height: 0.2rem;
    width: 100%;
}
.input-data .underline:before{
    position: absolute;
    content: "";
    height: 0.2rem;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
    transform: scale(1);
}

/* .submit-btn .input-data{
    overflow: hidden;
    height: 4rem!important;
    width: 25%!important;
}
 */
/* .submit-btn .input-data:hover .inner{
    left: 0;
} */
.form-column .submit-btn {
    height: 2rem;
}
.submit-btn > input{
    background: rgb(250,250,250);
    border: none;
    height: 2rem;
    color: #243b55;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    cursor: pointer;
    position: relative;
}

.submit-btn > input:hover{
    background:rgb(250,250,250,.25);
    border: none;
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    cursor: pointer;
    position: relative;
}

[data-book] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    border-width: 2rem;
    border-color: black;
    width: 10rem;
    height: 10rem;
    background-color: white;
    border-radius: 2rem;
    flex-direction: column;
}

[data-author] {
    font-size: 1rem;
}

[data-title] {
    font-size: 1rem;
    color: red;
}

[data-book] > p {
    padding: 0;
    font-size: 0.7rem;
}

p {
    margin: 0.3rem;
}

[data-remove] {
    border-width: 0;
    background-color: #edecec;
    border-radius: 1rem;
    font-size: 0.7rem;    
    padding: .5rem;  
    width: 5rem;
}

[data-remove]:hover {
    border-width: 0;
    background-color: #096d74;
    color: #fff;
    border-radius: 1rem;
    font-size: 0.7rem;    
    padding: .5rem;  
    width: 5rem;  
}

[data-read-status="Read"] {
    color: aqua;
}

[data-read-status="Not Read"] {
    color: grey;
}


/* The toggle - the box around the slider */
/* .switch { 
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: rgb(192, 189, 189);
    border-radius: 10rem;
} */
  
  /* Hide default HTML checkbox */
/* .switch input {
    opacity: 0;
    width: 0;
    height: 0;
} */
  /* The slider */
/* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d02727;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(100, 2, 2);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #022f38;
}

input:focus + .slider {
    box-shadow: 0 0 1px #076b7f;
} */
/*   
input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .switch {
    background-color: #022f38;
} */

/* Rounded sliders */
/* .slider.round {
    border-radius: 34px;
}
  
.slider.round::before {
    border-radius: 50%;
} */